<ul class="list-group">
  <a [routerLink]="['/']"
    ><li
      class="list-group-item border-0 border-bottom py-4 my-1 shadow bg-body-tertiary"
    >
      Trang chủ
    </li>
  </a>
  <a [routerLink]="['/dashboard/posts']"
    ><li
      class="list-group-item border-0 border-bottom py-4 my-1 shadow bg-body-tertiary"
    >
      Quản lý tin
    </li>
  </a>
  <a [routerLink]="['/dashboard/accounts']"
    ><li
      class="list-group-item border-0 border-bottom py-4 my-1 shadow bg-body-tertiary"
    >
      Quản lý tài khoản
    </li>
  </a>
</ul>
